@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: white;
  --color-foreground: black;
}

.dark {
  --color-background: black;
  --color-foreground: white;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
